body {
    background-color: rgb(0, 140, 255);
}

#basetec{
    margin-left: 15%;
    padding:15px;
    border-radius: 10px;
  }

  input[type=text] {
     width: 30%;
     -webkit-transition: width 0.15s ease-in-out;
     transition: width 0.15s ease-in-out;
  }

  /* Quando o campo de entrada receber o foco,
       mude sua largura para 100% */
  input[type=text]:focus {
    width: 70%; 
  }

 button {
  color: white;
  background: rgb(45, 46, 48);
  transition: transform ;
  border-radius: 5px;
  margin-top: 25;
  width: center ;
}

button:hover,
button:focus {
  background: rgb(200, 255, 0);
  transform: translateX(10px) scale(2.0);
}

div {
  margin-top: 250px;
  width: 250px;
}